.container {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--foreground);
    padding: 8px 0;
    justify-content: center;

    border: 2px dashed #bbb;
    border-radius: 40px;

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    position: fixed;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    z-index: 999;

    gap: 8px;
    width: clamp(224px, 90vw, 264px);
    transition: width 0.3s ease;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.title {
    color: var(--foreground);
    font-size: clamp(18px, 5vw, 32px);
    font-weight: 600;
}

.title:nth-child(1) {
    color: #62b0ff;
}

.logo {
    border-radius: 50%;
}

@media (hover: hover) and (pointer: fine) {
    .container:hover {
        width: clamp(264px, 90vw, 324px);
    }
}